<p id="notice"><%= notice %></p>

<div class="panel panel-default">
	<div class="panel-heading">
		<%= @paste.id %>		
	</div>
	 <div class="panel-body">
  	<%= @paste.content %>
  	</div>
</div>

<%= link_to '', pastes_path, class: "glyphicon glyphicon-arrow-left", :title => "Back" %> |
<%= link_to '', edit_paste_path(@paste),class: "glyphicon glyphicon-pencil", :title => "Edit" %>